header { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: rgb(145, 175, 228);
    justify-content: space-evenly;
    margin: 5px;
  }

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li{
    margin: 20px;
}

a.menus{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 20px;
}

footer{
    background-color: rgb(145, 175, 228);
    left: size adjust 100px;
    height: 50px;
    font-size: 16x;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    justify-content: right;
    margin-top: 10%;
    text-align: right;
  }

img {
    width: 100%;
    height: 80%;
 }

img.pequeña{
    height: 50px;
    width: 100px;
 }

img.mediana{
    height: 100px;
    width: 100px;
 }

img.grande{
    height: 350px;
    width: 600px;
} 

h1{
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
h2{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    justify-content: center;
}
h4{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    justify-content: center;
  }
p{  font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    justify-content: center;
}

